nav {
    background-color: #0085ff;
    overflow: hidden;
    position: relative;

    & a {
        color: #fff;
    }


    .bars{
        position: absolute;
        right: 20px;
        top: 45px;
        color: white;

    }


    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            & a {
                text-decoration: none;
                font-weight: bold;
            }

        }

        & ul {
            display: flex;
            list-style: none;
            & li{
                margin:  0 35px;
                & a{
                    text-decoration: none;
                }
            }
        }

        & .button{
            width: 100px;
            height: 35px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                box-shadow:  0 0 20px  0px rgba(0, 0, 0, 0.3);
            }
            & a {
                text-decoration: none;
                color: #333;
            }
        }

    }
}

@media screen and (max-width:480px){
    .nav_con{
        flex-direction: column;
        height: auto !important;
        margin: 50px 0;
        align-items: start !important;
        margin-left: 30px;
        
        & ul, .button{
            display: none !important;

        }
        
    }
    .mobile_menu{
        & li{
            margin: 35px;
            list-style: none;
            & a{
                text-decoration: none;
            }
        }
        
    }

    & .mobile_button{
        margin-left: 35px;
        margin-bottom: 35px;
        width: 100px;
        height: 35px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            box-shadow:  0 0 20px  0px rgba(0, 0, 0, 0.3);
        }
        & a {
            text-decoration: none;
            color: #333;
        }
    }
}
@media screen and (min-width:481px) {
    .mobile_menu,.bars,.mobile_button{
        display: none;
    }
}