.hero_wrapper {
    height: 500px;
    overflow: hidden;

    & .container {
        max-width: 1170px;
        margin: 0 auto;

    }

    & .hero_con {
        display: flex;
        justify-content: space-between;
        margin-top: 115px;

        & .text_1 {
            font-size: 32px;
        }

        & .text_2 {
            font-family: verdana;
            font-weight: bold;
            text-align: left;
            font-size: 64px;
            letter-spacing: -1px;
            color: rgba(62, 117, 92, 0.41);
         

        }

        & .text_3 {
            font-size: 32px;

        }

        & .text_4 {
            font-size: 16px;
            margin-top: 25px;
            width: 75%;
        }

        & .hero_social {
            display: flex;
            list-style: none;
            margin-top: 25px;

            & li {
                margin-right: 10px;

                & svg {
                    width: 32px;
                    height: 32px;
                    color: black;
                }
            }
        }

        & .hero_img {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background-image: url('https://scontent.fbkk7-2.fna.fbcdn.net/v/t39.30808-6/395794944_6862590597120673_6157221082952618152_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGc8Nl6CXnYFZkHQNpBVGzaq_0ZH5slTjKr_RkfmyVOMhGV56-ezYAr3SdJZ4ExyvcNAzLHUwDC-3bdo0fYrKbv&_nc_ohc=R-wqvLSJ3mgQ7kNvgHt_42U&_nc_ht=scontent.fbkk7-2.fna&oh=00_AYAVX2foKxtbq4axZDcSTkG3MxXOb6hn5nj0Uu2VWJ7ehQ&oe=66BB9039');
            background-position: center;
            background-size: cover;
            margin-right: 120px;
        }
    }
}

@media screen and (max-width:480px) {
    .hero_wrapper {
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;
            padding: 20px;

            & .hero_info,
            & .hero_img {
                width: 100%;
            }
        }
    }

}